@{
    ViewBag.Title = "Home Page";
}

<div class="">
    <h1>HW Home</h1>
    <p class="lead">ASP.NET MVC 5 開發實戰 課程練習</p>
    <p>
        <a href="http://www.accupass.com/go/DCT_105003" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>


@section breadcrumb{
    <li><a href="#">@ViewBag.Title</a></li>
}